h1{
  color: #5a7667;
  text-align: center;
  font-family: "HelveticaNeue-condensed-bold";
  margin-top: 1em;
  margin-bottom: 1.5em;
}

/********************************** bio styling ********************************/
section#bio{
  border-top: 1px solid #e1e5ea;
}
div#bio-details{
  padding-top: 1em;
}
.bio{
  margin: 0.7em auto;
  padding-left: 15px;
  padding-right: 15px;
}
/******************* education styling ****************************************/
section#education h3, section#experience h3{
  font-size: 1.3em;
  text-transform: capitalize;
  color: black;
}
.program{
  margin: 0.7em auto;
}
.program ul{
  padding-left: 0em;
  font-size: 0.9em;
}
.program ul li{
  list-style-type: none;
}

div#education-details{
  padding-top: 1em;
}

.program ul li:first-of-type{
  text-transform: capitalize;
}

/************************ experience styling ********************************/
div.experience-company a {
  color: inherit;
}
.experience{
  margin: 0.7em auto;
}
div#experience-details{
  padding-top: 1em;
}
.experience ul{
  font-size: 0.9em;
}
