h1{
  color: #5a7667;
  text-align: center;
  font-family: "HelveticaNeue-condensed-bold";
  margin-top: 1em;
  margin-bottom: 1.5em;
  color: #5a7667;
}

.contact{
  font-weight: bold;
  text-transform: capitalize;
  color: black;
}

/************************************* 2 columns layout style ***************************************/
h2{
  font-size: 1.7em;
  color: black;
}
#social-media-wrapper{
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
#layout-2columns{
    margin-top: 3em;

}

#social-media, #enquiry{
    border-bottom: 3px solid #5a7667;
    font-family: "HelveticaNeue-condensed-bold";
    color: #5a7667;
}

ul#list-social-media >li{
    list-style-type: none;
}
ul#list-social-media >li:last-of-type  {
    margin-top: 1em;
}
ul#list-social-media{
    padding: 0px;
    margin-top: 1em;
}
ul#list-social-media li a {
    color: black;
    font-weight: bold;
}
#github , #linkedln{
    margin-left: 0.2em;
    font-size: 1.4em;
    text-transform: uppercase;

}
#github-icon{
    font-size: 1.1em;
    position: relative;
    top: -2px;
}

ul#list-social-media > li> p {
    margin: 0px;
    font-size: 1.2em;
}
#linkedln-icon{
    padding: 4px;
    border-radius: 45%;
    color: white;
    background: black;
    font-size: .8em;
    vertical-align: middle;
    position: relative;
    top: -5px;

}
ul#list-social-media li a:hover i#linkedln-icon{
    color: white;
    background: #829b7b;
}
ul#list-social-media li a:hover{
    color: #829b7b;
}


label{
    text-transform: capitalize;
    font-size: 1.4em;
}

input[type="text"],input[type="email"]{
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
}

form{
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}
.error-message{
  color: red;
}

.success-msg{
	color: green;
  font-size: 1.5em;
}

textarea#f_message{
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
}
#div-submit{
    text-align: center;
}

input[type="submit"]{
    text-transform:capitalize;
    font-size: 1.5em;
    background-color: #5a7667;
    color: white;
    border: 2px solid gray;
    border-radius: 10px;
    padding-left: 0.6em;
    padding-right: 0.6em;
}
input[type="submit"]:hover{
    background-color: white;
    color:#5a7667;
}

/************************** responsive style *********************************************/
@media only screen and (max-width: 995px) {

  form{
    margin-bottom: 1.5em;
    margin-left: 0px;
  }

  #social-media-wrapper{
    margin-right: 0px;

  }

}
