/* home page styling */
/************************ banner style ************************************************/
/* text animation */
@keyframes anim-zoom-in {
  from {
    -ms-transform: scale(0);/* IE 9 */
    transform: scale(0);
  }
  to {
    -ms-transform: scale(1);/* IE 9 */
    transform: scale(1);
  }
}
@keyframes anim-banner{

  to {
    opacity: 1;
  }
}

@keyframes anim-rotateY {

  to {
    -ms-transform:rotateY(0deg);
    transform:rotateY(0deg);
  }
}
@keyframes anim-text-color {

  to {
    opacity: 1;
  }
}

#banner{
    background-color: #829b7b;
    color: white;
    padding: 0.5em 1em;
    opacity: 0;
    animation-name: anim-banner;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
div#profile-img-wrapper{
  padding-left: 10px;
}
#profile-img-wrapper img{
    position: relative;
    display:block;
    border: 5px solid #5a7667;
    border-radius: 50%;
    padding-top: 2px;
    width: 100%;
    max-width: 500px;
    -ms-transform:rotateY(90deg);
    transform:rotateY(90deg);
    animation-name: anim-rotateY;
    animation-duration: 3s;
    animation-delay: 11s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
#banner-msg-wrapper{
    text-align: center;
}
h1{
    margin:1rem auto;
}
h1 > span{
    display: block;
    text-align: center;
}
#banner-msg{
    opacity: 0;
    margin-top: 1.5em;
    font-size: 1.2em;
    color: white;
    animation-name: anim-text-color;
    animation-duration: 3s;
    animation-delay: 8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

#my-project-link{
  display: inline-block;
  margin-top: 1.1em;
  padding: 0.3em 1.7em;
  background-color: #5a7667;
  border: 5px solid gray;
  border-radius: 30px;
  text-transform: capitalize;
  color: white;
  font-size: 1.2em;

}

#profile-name{
    font-family:"HelveticaNeue-condensed-bold";
    font-size: 1.7em;
    text-shadow: 2px 2px 4px #000000;
    transform: scale(0);
    -ms-transform: scale(0);/* IE 9 */
    animation-name: anim-zoom-in;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

#profile-profession{
    font-family:"HelveticaNeue-medium";
    font-size: 0.6em;
    text-shadow: 2px 2px 4px #000000;
    transform: scale(0);
    -ms-transform: scale(0);/* IE 9 */
    animation-name: anim-zoom-in;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

/************************* 3 columns layout style ***************************************************/

div#columns3-wrapper{
  padding: 0em;
}
#columns3-wrapper article{
    text-align: center;
    margin: 1em auto;
}

figure{
    margin: 0px;
}
figure img{
  position: relative;
  margin: auto;
   display: block;
   max-width: 350px;
   width: 100%;
   height: 350px;
}
figcaption{
    text-align: center;
    margin-top: 0.6em;
    font-weight: bold;
    font-size: 1.3em;
    text-transform: capitalize;
    color: black;
}
#columns3-wrapper article p{
    font-size: 1.1em;
    margin: 0px;
}

/***************************** my work styling *******************************************/
div#myWorkCaptions{
  width: 50%;
  margin: auto;
  border: 1px solid #d1d9d9;
}
div#myWorkCaptions .carousel-inner .carousel-item img{
  height: 500px;
}
section#my-work{
  padding-bottom: 1em;
}
div.carousel-inner div.carousel-item{
  /*width: 60%;
  margin: auto;
  float: none;
  height: 300px;*/
}
.carousel-indicators li {
  background-color: gray;
}
.carousel-indicators li.active{
  background-color:#829b7b;
}
.myWorkCaptions-title{
  text-transform: uppercase;
  background-color: gray;
  border-top: 1px solid gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 0.8em;
}
.myWorkCaptions-link{
  background-color: #829b7b;
  border-bottom: 1px solid #829b7b;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.myWorkCaptions-link a{
  color: black;
  font-size: 0.8em;
  text-transform: capitalize;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  color: gray;
  background-color: gray;
}
/*************************** skills section styling **************************************/

section#skills h3{
  font-size: 1.3em;
  text-transform: uppercase;
  color: black;
}
div#skills-details{
  position: relative;
  margin: auto;
  width: fit-content;

}
div#skills-details section {
  display: inline-block;
  position: relative;
  width: fit-content;
  vertical-align: top;
  margin: auto 1em;
}
div#skills-details section ul{
  margin-bottom: 1em;
}



/************************** responsive style *********************************************/
@media only screen and (max-width: 770px) {
    #profile-img-wrapper img{
      margin: auto;
    }

    div#myWorkCaptions{
      width: 100%;
    }

    div#skills-details section {
      display: block;
      width: 100%;
    }
    div#myWorkCaptions .carousel-inner .carousel-item img{
      height: 350px;
    }


}
